<div class='breadcrumb'>
  <%= link_to t('views.purchase_orders.index.title'), purchase_orders_path %>
  <%= link_to t('views.purchase_orders.new.title'), new_purchase_order_path %>
</div>

<h2><%= t "views.purchase_orders.new.title" %></h2>

<%= render 'form' %>
